:root {
    --sidebar-expanded-width: 240px;
}

.sidebar {
    /*transition on width change*/
    transition: width 0.3s ease-in-out;
}

.sidebar-toggler-visible {
    display: block !important;
}

.sidebar-collapsed {
    width: 64px;
}

.sidebar-expanded {
    width: var(--sidebar-expanded-width) !important;
}

/* mobile and _smaller_ */
@media (max-width: 575.98px) {
    :root {
        --sidebar-expanded-width: 100%;
    }

    .sidebar-expanded {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
    }

    .sidebar-collapsed {
        width: 100%;
        height: 64px;
    }
}
