html,
body,
#root,
.wmc4-app,
main {
    width: 100%;
    height: 100%;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    height: 7.5;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
}

.wmc4-app {
    overflow: hidden;
}

.col-scrollable {
    height: 100%;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.fit-content {
    width: fit-content;
}
