.customTooltip {
    background: white;
    color: #333;
    box-shadow: 0 3px 14px rgb(0 0 0 / 40%);
    padding: 1px;
    text-align: left;
    border-radius: 12px;
  
    .tooltipDetails {
      margin: 7px 19px;
    }
  
    .label {
        margin: 5px 19px;
        font-weight: 600;
    }
  }